name: cicd

on:
  push:
    branches: ["main"]

jobs:
  build_test:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        

    - name: Build with Maven
      run: mvn compile

    - name: Test with Maven
      run: mvn test

  code_coverafe:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build with Maven and generate JaCoCo report
      run: mvn test jacoco:report
      # The report goal generates reports in target/site/jacoco/
      
    - name: Upload JaCoCo report artifact
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco/
      # This allows you to download and inspect the full HTML report from the Actions summary

s

   
